.App {
  text-align: center;
  height: inherit;
  margin: 5vh 15vw 5vh 15vw;
  background-color: white;
  box-shadow: rgba(1, 52, 0, 0.51) 0px 0px 2em;
  padding: 1vh 2vw;
  border-radius: 1em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-paragraph {
  margin-left: 15%;
  margin-right: 15%;
  text-align: left;
}

.App-link {
  color: #61dafb;
}

@media (max-width: 850px) {
  .App {
    margin: 5vh 5vw;
    padding: 1vh 2vw;
  }
  .App-paragraph {
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
  }
}
